In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler

### Model

In [2]:
train = pd.read_csv('../../ml-data/cyberattack_detection/2_processed_data/A2_training_data_by_ip.csv', sep=',')

In [3]:
X_train = train.drop(['Botnet','SrcIPAddress'],1)
Y_train = train[['Botnet']]

In [4]:
model = LogisticRegression(max_iter=500).fit(X_train, Y_train)

/usr/local/lib/python3.8/site-packages/sklearn/utils/validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

In [5]:
test = pd.read_csv('../../ml-data/cyberattack_detection/2_processed_data/A2_test_data_by_ip.csv', sep=',')

In [6]:
X_test = test.drop(['Botnet','SrcIPAddress'],1)
Y_test = test[['Botnet']]

In [7]:
X_test.head()

,Duration,TotalPackets,TotalBytes,SourceBytes,PacketsBySec,SourceBytesBySec,TotalBytesBySec
0,0.068330,2.099315,125.989726,68.424658,10164.267421,313196.425928,609901.995847
1,37.038085,6.736226,2619.486505,960.705275,1496.108699,43789.455999,211896.322906
2,35.870162,13.585749,9117.484682,1401.067273,1661.905285,48534.566173,237852.833934
3,13.462622,7.996686,4687.332367,504.842604,2198.629757,64127.241159,318626.536661
4,15.085764,16.219029,11824.440682,1431.609252,1780.671385,52146.694391,257579.859516

In [8]:
model.score(X_test,Y_test)

0.9122807017543859

In [9]:
predict = pd.DataFrame(model.predict(X_test),columns=['Predicted'])
result = pd.concat([test[['SrcIPAddress','Botnet']].copy(),predict], axis=1)

In [10]:
result.head(5)

     SrcIPAddress  Botnet  Predicted
0  122.226.12.150     0.0        0.0
1  147.101.94.182     1.0        1.0
2  147.113.94.198     1.0        1.0
3  147.114.98.192     1.0        1.0
4  147.122.97.192     1.0        1.0

### Adversarial sample

In [11]:
IP = X_test.iloc[[1]]
Label = Y_test.iloc[[1]]
epsilon = 50
direction = 1
adversarial_sample = IP.values + epsilon * direction

array([[8.70380848e+01, 5.67362257e+01, 2.66948650e+03, 1.01070528e+03,
        1.54610870e+03, 4.38394560e+04, 2.11946323e+05]])

In [12]:
X_test.iloc[[1]] = adversarial_sample

In [13]:
X_test.head()

,Duration,TotalPackets,TotalBytes,SourceBytes,PacketsBySec,SourceBytesBySec,TotalBytesBySec
0,0.068330,2.099315,125.989726,68.424658,10164.267421,313196.425928,609901.995847
1,87.038085,56.736226,2669.486505,1010.705275,1546.108699,43839.455999,211946.322906
2,35.870162,13.585749,9117.484682,1401.067273,1661.905285,48534.566173,237852.833934
3,13.462622,7.996686,4687.332367,504.842604,2198.629757,64127.241159,318626.536661
4,15.085764,16.219029,11824.440682,1431.609252,1780.671385,52146.694391,257579.859516

In [14]:
predict = pd.DataFrame(model.predict(X_test),columns=['Predicted'])
result = pd.concat([test[['SrcIPAddress','Botnet']].copy(),predict], axis=1)

In [15]:
model.score(X_test,Y_test)

0.8947368421052632

In [16]:
result.head()

     SrcIPAddress  Botnet  Predicted
0  122.226.12.150     0.0        0.0
1  147.101.94.182     1.0        0.0
2  147.113.94.198     1.0        1.0
3  147.114.98.192     1.0        1.0
4  147.122.97.192     1.0        1.0

### Model with perturbed data

In [119]:
test_perturbed = pd.read_csv('../../ml-data/cyberattack_detection/2_processed_data/A2_test_data_by_ip_perturbed2.csv', sep=',')

In [120]:
X_test_perturbed = test.drop(['Botnet','SrcIPAddress'],1)
Y_test_perturbed = test[['Botnet']]

In [121]:
test_perturbed.head()

,SrcIPAddress,Duration,TotalPackets,TotalBytes,SourceBytes,Botnet,PacketsBySec,SourceBytesBySec,TotalBytesBySec
0,122.226.12.150,0.068330,2.099315,125.989726,68.424658,0.0,10164.267421,313196.425928,609901.995847
1,147.101.94.182,87.038085,56.736226,2669.486505,1010.705275,1.0,1495.671372,43775.022442,211851.928670
2,147.113.94.198,35.870162,13.585749,9117.484682,1401.067273,1.0,1661.905285,48534.566173,237852.833934
3,147.114.98.192,13.462622,7.996686,4687.332367,504.842604,1.0,2198.629757,64127.241159,318626.536661
4,147.122.97.192,15.085764,16.219029,11824.440682,1431.609252,1.0,1780.671385,52146.694391,257579.859516

In [122]:
model.score(X_test_perturbed,Y_test_perturbed)

0.9122807017543859

In [109]:
predict = pd.DataFrame(model.predict(X_test_perturbed),columns=['Predicted'])
result = pd.concat([test[['SrcIPAddress','Botnet']].copy(),predict], axis=1)

In [110]:
result.head(5)

     SrcIPAddress  Botnet  Predicted
0  122.226.12.150     0.0        0.0
1  147.101.94.182     1.0        1.0
2  147.113.94.198     1.0        1.0
3  147.114.98.192     1.0        1.0
4  147.122.97.192     1.0        1.0

End.